* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}
.container {
    margin: 0 auto;
    width: 1280px;
}

.header {
    padding: 10px;
    border-bottom: 1px solid #EBE8F4;
    
}

.header_logo {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.26px;
    text-decoration: none;
    color: #22202E;
    
}

.header_menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu_list {
    display: flex;

}

.menu_item {
    list-style: none;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    color: #726E8D;
    margin-right: 40px;
}

.menu_icons {
    display: flex;
    gap: 15px;
}

.menu_search {
    background-image: url(/images/search.svg);
    background-repeat: no-repeat;
    padding: 10px;
     

}

.menu_basket {
    background-image: url(/images/shopping--cart.svg);
    background-repeat: no-repeat;

    padding: 10px;
}

.menu_acount {
    background-image: url(/images/user--avatar.svg);
    background-repeat: no-repeat;
     padding: 10px;
}

.gallary_menu {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.gallary_menu_item:nth-last-child(-n+2) {
    margin-left: auto;
}

.gallary_title{
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 400;
    line-height: 50.4px;
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;
}

.gallary_menu_list {
    color: #2A254B;
    padding-left: 60px;
    padding-right: 20px;
    border: none;
    appearance: none;
    background: url(/images/Caret--down.png) no-repeat right center;
}

.gallary_menu_item {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

label.gallary_menu_item {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}


.gallary_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    margin-top: 20px;
}

.gallary_grid_item {
    padding: 10px;
    margin-bottom: 20px;
}
.gallary_grid_item_title {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 20px;
    color: #2A254B;
   
}

.gallary_grid_item_price {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #2A254B;
    margin-top: 10px;

}

.gallary_link {
    margin-top: 30px;
    text-align: center;

}

.gallary_link_collection {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    color: #2A254B;
    background-color: #F9F9F9;
    padding: 20px 30px;
}

.content {
    display: flex;
    margin-top: 60px;
}


.content_picture {
    background-image: url(/images/join-background.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 521px; 
    width: 50%; 
}



.content_text {
    padding: 40px;
}

.contetn_title {
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 400;
    line-height: 39.01px;
    color: #2A254B;
    margin-top: 20px;

}

.content_description {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 20px;
    color: #2A254B;
    width: 470px;
}

.contetn_button {
    margin-top: 230px;
    margin-left: 40px;
    background-color: #2A254B;
    padding: 20px 40px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

   
}

.footer {
    background-color: #2A254B;
}

.footer_litst {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.footer_list_menu {
    list-style: none;
}
.footer_list_menu li:first-child {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    color: #FFFFFF;

}

.footer_list_item {
    padding-top: 10px;
}


.footer_list_item_link {
    color: #FFFFFF;
    text-decoration: none;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;

}

.footer_map {
    width: 50%;
    padding-top: 10px;

}

.footer_copy_right {
    border-top: 1px solid #4E4D93;
    margin-top: 40px;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
}

.copy_right {
    color: #FFFFFF;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
    
}

.footer_links {
    display: flex;
    gap: 20px;
}

.footer_links_linkedin {
    background-image: url(/images/logo--linkedin.svg);
    background-repeat: no-repeat;
    padding: 10px;
}

.footer_links_fb {
    background-image: url(/images/logo--facebook.svg);
    background-repeat: no-repeat;
    padding: 10px;
}


.footer_links_insta {
    background-image: url(/images/logo--instagram.svg);
    background-repeat: no-repeat;
    padding: 10px;
}

.footer_links_skype {
    background-image: url(/images/logo--skype.svg);
    background-repeat: no-repeat;
    padding: 10px;
}

.footer_links_twitter {
    background-image: url(/images/logo--twitter.svg);
    background-repeat: no-repeat;
    padding: 10px;
}

.footer_links_pinterest {
    background-image: url(/images/logo--pinterest.svg);
    background-repeat: no-repeat;
    padding: 10px;
}



